<html>
  <head>
    <%= erb :style %>
  </head>
  <body>
    <%= erb :menu, :locals => { :active => :invoices, :prefix => prefix } %>
    <form action="/todo" method="POST">
      <table>
        <tr>
          <th>Date</th>
          <th>Cr</th>
          <th class="amount">Amt</th>
          <th>Customer Acc</th>
          <th>Sales Acc</th>
          <th class="details">Name</th>
          <th>Receipt</th>
        </tr>
        <% months.keys.sort.reverse.each do |mk| %>
        <% months[mk][:invoices].each do |b| %>
        <tr>
          <td class="date"><%= b[:invoice_date] %></td>
          <td class="amount"><%= b[:currency] %></td>
          <td class="amount"><%= '%.2f' % (b[:amount_cents]/100.0) %></td>
          <td><%= b[:customer_account] %></td>
          <td><%= b[:sales_account] %></td>
          <td class="details"><% if b[:customer_company].size>0 %><%= b[:customer_company] %><br><% end %><%= b[:customer_name] %></td>
          <td>
            <% b[:payments].each do |p| %>
            <a href="<%= prefix %>/book#<%= p[:id] %>"><%= p[:amount_cents]<0 ? "⎌" : "💰" %> <%= p[:debit_account] %></a><br>
            <% end %>
            <% b[:receipt_urls].each do |r| %>
            <a href="<%= r %>">📄 <%= r.split('/').last.sub("?pdf=1"," PDF") %></a><br>
            <% end %>
          </td>
        </tr>
        <% end %>
        <tr class="month-row">
          <td class="date"></td>
          <td></td>
          <td class="amount"><%= '%.2f' % (months[mk][:sum_cents]/100.0) %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
        
      </table>
    </form>
  </body>
</html>
